*{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #333;
    overflow: hidden;
}
canvas{
    background-color: #000;
}
.content {
    margin-left: auto;
    margin-right: auto;
    z-index: -1;
    position:relative;
}