html,
body {
    background-image: url('background.png');
    color: #1e2125;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

main {
    display: block;
    margin: 0 auto;
    max-width: 40rem;
    padding: 1rem;
}


ol.num-list {
    counter-reset: gradient-counter;
    list-style: none;
    margin: 1.75rem 0;
    padding-left: 1rem;
> li {
    background: white;
    border-radius: 0 0.5rem 0.5rem 0.5rem;
    @extend %boxshadow;
    counter-increment: gradient-counter;
    margin-top: 1rem;
    min-height: 3rem;
    padding: 1rem 1rem 1rem 3rem;
    position: relative;
&::before,
&::after {
     background: linear-gradient(135deg, $blue 0%,$green 100%);
     border-radius: 1rem 1rem 0 1rem;
     content: '';
     height: 3rem;
     left: -1rem;
     overflow: hidden;
     position: absolute;
     top: -1rem;
     width: 3rem;
 }
&::before {
     align-items: flex-end;
     @extend %boxshadow;
     content: counter(gradient-counter);
     color: $black;
     display: flex;
     font: 900 1.5em/1 'Montserrat';
     justify-content: flex-end;
     padding: 0.125em 0.25em;
     z-index: 1;
 }
@for $i from 1 through 5 {
&:nth-child(10n+#{$i}):before {
    background: linear-gradient(135deg, rgba($green, $i * 0.2) 0%,rgba($yellow, $i * 0.2) 100%);
}
}
@for $i from 6 through 10 {
&:nth-child(10n+#{$i}):before {
    background: linear-gradient(135deg, rgba($green, 1 - (($i - 5) * 0.2)) 0%,rgba($yellow, 1 - (($i - 5) * 0.2)) 100%);
}
}
+ li {
    margin-top: 2rem;
}
}
}